* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #74c0fc;
}

.container {
  width: 80vmin;
  padding: 2rem 3rem;

  background-color: snow;
  border-radius: 3px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  position: absolute;

  top: 45%;
  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 1.2rem;
  text-align: center;
}

span {
  font-size: 5rem;
  margin-bottom: 0rem;
}

p {
  word-wrap: break-word;
  line-height: 1.7;
  opacity: 0;
}

.fade {
  opacity: 1;
  transition: opacity 1.5s;
}

.btn {
  margin: 2rem 0;
  padding: 1rem;

  border: none;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: #ff8787;

  font-size: 1.5rem;
  font-weight: 600;

  cursor: pointer;
}

.btn:hover {
  filter: brightness(110%);
  transform: translateY(1px);
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.5);
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.5);
}
